
.TopMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000;
  border-radius:5px;
  border-color:black;

}

.SecondMenu {
  list-style-type: none;
  margin: 30px 60px 20px 60px;
  padding: 0;
  overflow: hidden;
}
.footer {
  list-style-type: none;
  margin: 30px 0px 0px 0px;
  padding: 30px 60px 30px 60px;

left: 0;
bottom: 0;
width: 100%;
  overflow: hidden;
  background-color: #000;
  color:white;
}
.secondbaritem {
  float: right;
}

.topbaritem {
  float: left;
}

li.a, .nulogoimage {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
        padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;

}

li.a, .nulogoicon {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
        padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d41b2c
}


li.a, .dropbtn  {
  display: inline-block;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
        padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 35px;
}
li.a, .droplogo  {
  display: inline-block;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
        padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #D41B2C;
}
li a:hover, .seconddropdown:hover .dropbtn {
  background-color: #D41B2C;
}

li.dropdown {
  display: inline-block;

}
li.seconddropdown {
  display: inline-block;
float:right;
}

.roundboxred{
  border:3px;
  border-style:solid;
  border-color:#D41B2C;
  padding: 0px 25px 15px 25px;
  border-radius: 15px;
  margin: 15px 60px 15px 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.roundbox{
  border:3px;
  border-style:solid;
  border-color:#D41B2C;
  padding: 0px 25px 15px 25px;
  border-radius: 15px;
  margin: 15px 60px 15px 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.halfbox {
  width: 46%;
  float: left;
  padding: 0px 12px 0px 20px;
}
.nobottompadding{
  padding: 15px 0px 0px 0px;
  line-height: 0;
}
.maintextbox{
margin: 15px 60px 30px 60px;
}
.maintextbox h2{
  font-weight: 900;
}
.roundboxred ul li {
  padding:3px 0px 3px 0px;
}

.roundbox ul li {
  padding:3px 0px 3px 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.seconddropdown:hover .dropdown-content {
  display: block;
}
body{
font-family: 'Lato', sans-serif;
}
.footer p {
  text-align: center;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 50%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hidecontent {
  display: none;
}

#myaccordion label {
box-shadow:0 0 20px #d4d4d4;
display: block;    
padding: 8px 22px;
margin: 20px 0px 1px 0px;
cursor: pointer;
background: lightcoral;
border-radius: 5px;
color: #FFF;
transition: ease .5s;
}
#myaccordion label:hover {
background: grey;
}
.content {
box-shadow:0 0 20px #d4d4d4;
background: #ffff;
padding: 10px 25px;
border: 1px solid #d4d4d4;
margin: -1 0 0 0;
}
#myaccordion input:checked + label + .content {
display: block;
webkit-animation: fadeIn 0.5s ease-out;
-moz-animation: fadeIn 0.5s ease-out;
-o-animation: fadeIn 0.5s ease-out;
animation: fadeIn 0.5s ease-out;
}
@-webkit-keyframes fadeIn {
0% {
  display: none;
  opacity: 0;
}
1% {
  display: block;
  opacity: 0;
}
100% {
  display: block;
  opacity: 1;
}
}
